.merkl .ant-drawer-header {
  display: none;
}

.merkl .ant-drawer-body {
  padding: 8px;
}

.merkl .ant-list-header,
.merkl .ant-list-item {
  padding: 8px !important;
}

.merkl .ant-list-pagination {
  margin: 16px 8px !important;
}

.merkl .ant-list-item a {
  color: inherit !important;
}

.merkl .merkl-list .ant-card-body {
  height: calc(100vh - 40px - 16px);
  overflow-y: auto;
}

.merkl .merkl-list img {
  width: 18px;
  height: 18px;
}