* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #1d1d1d #141414;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.layout {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #141414;
  color: #d0d2d4 !important;
  overflow: hidden;
  padding: 10px;
}

.warning {
  color: #dc4446;
}

.good {
  color: #008000;
}

.blur {
  opacity: 0.5;
}

.widgets {
  display: flex;
  gap: 8px;
  height: 100%;
  flex-direction: row-reverse;
  justify-content: start;
}

@media screen and (min-width: 992px) {
  .widgets {
    height: calc(100vh - 20px);
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
  }
}

.widget-button {
  background-color: #1f1f1f;
}

.ant-col-grid {
  display: grid;
}

.ant-collapse-extra {
  min-width: 70px;
  text-align: right;
}

.ant-typography {
  white-space: pre-wrap;
}

.ant-typography-ellipsis {
  white-space: nowrap;
}

.ant-typography-single-line {
  margin-bottom: 0 !important;
}

.ant-segmented {
  border: 1px solid #424242;
  text-transform: capitalize;
}

.ant-form-horizontal .ant-form-item {
  margin-bottom: 4px;
}

.ant-form-item {
  width: 100% !important;
}

.ant-collapse-item:not(:last-child) {
  border-bottom: none !important;
}

.ant-collapse-content {
  border-top: none !important;
}

.ant-card {
  width: 100%;
}

.ant-input-number,
.ant-input {
  width: 100% !important;
}

.ant-btn-default {
  box-shadow: none;
}

.ant-select-dropdown {
  background-color: #141414;
  border: 1px solid #303030;
}

.close-notification {
  color: rgba(255, 255, 255, 0.45);
  width: 22px;
  height: 22px;
  display: flex;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  justify-content: center;
  text-transform: none;
  text-rendering: auto;
  border-radius: 4px;
}

.close-notification:hover {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.12);
  text-decoration: none;
}